.footer a {
  box-shadow: none;
  color: #ffffff;
}

.footer1 {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: relative;
  font-size: small;
  width: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /*height: 5rem;   */
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 5px;
  padding: 0px 0px 5px !important;
  text-align: center;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  /* border-bottom: 1px solid #e0e0e0; */
  font-size: 12px;
  font-weight: bold;
  color: #828282;
  font-family: Roboto, sans-serif;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  background: linear-gradient(45deg, #121212, #181818, #404040, #282828);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* background-color: #404040 !important; */
  color: #ffffff !important;
  /* opacity: 0.87; */
}
