.navigation {
  height: 60px;
  width: 100%;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;

  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  background: linear-gradient(45deg, #121212, #181818, #404040, #282828);
  /* background: linear-gradient(45deg, red, blue); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@media (prefers-color-scheme: dark) {
  .navigation {
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.brand-name {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  filter: brightness(1.5);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* margin-left: 1rem; */
}

.navigation-menu {
  margin-right: auto;
  width: 100%;
  /* margin-left: 2%; */
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 0.7rem;
}

.navigation a {
  text-decoration: none !important;
  box-shadow: none !important;
}
.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  /* text-decoration: none!important;
    box-shadow: none!important; */
  display: block;
  width: 100%;
  color: white;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    margin-block-start: 0;
    /* height: calc(100vh - 77px); */
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    /* color: black; */
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    /* background-color: #eee; */
  }

  .navigation-menu.expanded ul {
    background-color: #2a2b2e;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    z-index: 1;
    display: block;
  }
}

.navbar-right {
  margin-left: auto !important;
  display: flex;
}

.navbar-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Dropdown Menu */
.loggedInUserMenu-Button {
  /* background-color: #04AA6D; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}

.loggedInUserMenu {
  position: relative;
  display: inline-block;
}

.loggedInUser-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.loggedInUser-dropdown-content-expanded {
  display: flex;
}

.loggedInUser-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.loggedInUser-dropdown-content a:hover {
  background-color: rgb(121, 112, 112);
}

.loggedInUserMenu:hover .loggedInUser-dropdown-content {
  display: block;
}

.search-nav-input {
  padding: 10px !important;
  margin: 0 !important;
  border: none;
}

.loggedInUser-dropdown-content {
  background-color: #404040 !important;
}

.loggedInUserMenu {
  position: relative;
  display: inline-block;
}

.loggedInUser-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.loggedInUser-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.loggedInUser-dropdown-content a:hover {
  background-color: rgb(121, 112, 112);
}

.loggedInUserMenu:hover .loggedInUser-dropdown-content {
  display: block;
}
